@tailwind base;
@tailwind components;
@tailwind utilities;

#backImg {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/eye.png") no-repeat center / cover;
}
#cave {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/cave.jpg") no-repeat center / cover;
}
#il {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/iv.mp4") no-repeat center / cover;
}
#real {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/reality.jpg") no-repeat center / cover;
}
#card1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/r2.jpg") no-repeat center / cover;
}
#card2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/r3.jpg") no-repeat center / cover;
}
#miniCard1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/pers1.jpg") no-repeat center / cover;
}
#miniCard2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/il.jpg") no-repeat center / cover;
}
#miniCard3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/pers3.jpg") no-repeat center / cover;
}
#miniCard4 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/pers4.jpg") no-repeat center / cover;
}
#miniCard5 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("/images/pers5.jpg") no-repeat center / cover;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #3a3934;
}
